WCF_Assignment_1/Service References/ProgramService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://saravanan:8090/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://saravanan:8090/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://saravanan:8090/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelloService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TodayProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:TodayProgram" />
  </wsdl:message>
  <wsdl:message name="IService_TodayProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodayProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Subract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subract" />
  </wsdl:message>
  <wsdl:message name="IService_Subract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IService_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IService_JobOpenings_InputMessage">
    <wsdl:part name="parameters" element="tns:JobOpenings" />
  </wsdl:message>
  <wsdl:message name="IService_JobOpenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:JobOpeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_JobOpeningsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:JobOpeningsByRole" />
  </wsdl:message>
  <wsdl:message name="IService_JobOpeningsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:JobOpeningsByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoWork" message="tns:IService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoWorkResponse" message="tns:IService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SayHello" message="tns:IService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SayHelloResponse" message="tns:IService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodayProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TodayProgram" message="tns:IService_TodayProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TodayProgramResponse" message="tns:IService_TodayProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Subract" message="tns:IService_Subract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SubractResponse" message="tns:IService_Subract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Multiply" message="tns:IService_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MultiplyResponse" message="tns:IService_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Divide" message="tns:IService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DivideResponse" message="tns:IService_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JobOpenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/JobOpenings" message="tns:IService_JobOpenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/JobOpeningsResponse" message="tns:IService_JobOpenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JobOpeningsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/JobOpeningsByRole" message="tns:IService_JobOpeningsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/JobOpeningsByRoleResponse" message="tns:IService_JobOpeningsByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/IService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodayProgram">
      <soap:operation soapAction="http://tempuri.org/IService/TodayProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subract">
      <soap:operation soapAction="http://tempuri.org/IService/Subract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/IService/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IService/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JobOpenings">
      <soap:operation soapAction="http://tempuri.org/IService/JobOpenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JobOpeningsByRole">
      <soap:operation soapAction="http://tempuri.org/IService/JobOpeningsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://saravanan:8090/Service.svc/HelloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>