WCF_Assignment_1/Service References/ProgramService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelloService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelloService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobOpenings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobOpenings" nillable="true" type="tns:JobOpenings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobOpenings" nillable="true" type="tns:ArrayOfJobOpenings" />
  <xs:complexType name="JobOpenings">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOpenings" nillable="true" type="tns:JobOpenings" />
</xs:schema>